.Shop {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 2em;
}

.Shop .products {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(2, 1fr);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top h4 {
  padding: 0;
  margin: 0;
}
